In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
os.chdir('/content/drive/MyDrive/STDS_AT2/Life_Expectancy_Datasets/')

In [3]:
ls

 AdultMortalityRate.csv  'GDP per capita.csv'          Non-Communicable.csv
 Alcohol.csv             'Infant Mortality.csv'        Population.csv
 CauseOfDeath.csv         LifeExpectancy.csv
 Communicable.csv         Mortality_RoadAccident.csv

In [8]:
import pandas as pd
life=pd.read_csv('LifeExpectancy.csv')

In [ ]:
life.head()

In [9]:
life=life[['Country Name',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020']]

In [ ]:
life.head()

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,65.662000,66.074000,66.444000,66.787000,67.113000,67.435000,67.762000,68.095000,68.436000,...,75.158000,75.299000,75.441000,75.583000,75.725000,75.868000,76.010000,76.152000,76.293000,76.434000
1,Africa Eastern and Southern,42.716053,43.166935,43.603990,44.025617,44.432721,44.826919,45.213048,45.594294,45.974059,...,59.353595,60.185561,60.953363,61.647367,62.259288,62.787681,63.246264,63.648988,64.005213,64.325702
2,Afghanistan,32.446000,32.962000,33.471000,33.971000,34.463000,34.948000,35.430000,35.914000,36.403000,...,61.553000,62.054000,62.525000,62.966000,63.377000,63.763000,64.130000,64.486000,64.833000,65.173000
3,Africa Western and Central,37.205380,37.632546,38.052612,38.463746,38.867073,39.264841,39.662762,40.066408,40.482832,...,54.649998,55.138944,55.618986,56.088269,56.542009,56.974761,57.382363,57.762347,58.115723,58.445953
4,Angola,37.524000,37.811000,38.113000,38.430000,38.760000,39.102000,39.454000,39.813000,40.178000,...,56.330000,57.236000,58.054000,58.776000,59.398000,59.925000,60.379000,60.782000,61.147000,61.487000

In [ ]:
life[life['Country Name']==country].iloc[0]

In [10]:
values=[]
for country in life['Country Name']:
    values.extend(list(life[life['Country Name']==country].iloc[0])[1:])

In [ ]:
len(values)

16226

In [ ]:
life.head()

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,65.662000,66.074000,66.444000,66.787000,67.113000,67.435000,67.762000,68.095000,68.436000,...,75.158000,75.299000,75.441000,75.583000,75.725000,75.868000,76.010000,76.152000,76.293000,76.434000
1,Africa Eastern and Southern,42.716053,43.166935,43.603990,44.025617,44.432721,44.826919,45.213048,45.594294,45.974059,...,59.353595,60.185561,60.953363,61.647367,62.259288,62.787681,63.246264,63.648988,64.005213,64.325702
2,Afghanistan,32.446000,32.962000,33.471000,33.971000,34.463000,34.948000,35.430000,35.914000,36.403000,...,61.553000,62.054000,62.525000,62.966000,63.377000,63.763000,64.130000,64.486000,64.833000,65.173000
3,Africa Western and Central,37.205380,37.632546,38.052612,38.463746,38.867073,39.264841,39.662762,40.066408,40.482832,...,54.649998,55.138944,55.618986,56.088269,56.542009,56.974761,57.382363,57.762347,58.115723,58.445953
4,Angola,37.524000,37.811000,38.113000,38.430000,38.760000,39.102000,39.454000,39.813000,40.178000,...,56.330000,57.236000,58.054000,58.776000,59.398000,59.925000,60.379000,60.782000,61.147000,61.487000

In [11]:
l=[]
for j in range(0,len(life['Country Name'])):
    for i in range(0,61):
    
        l.append(life['Country Name'][j])

In [12]:
df=pd.DataFrame(values,columns=['Life expectancy'])

In [13]:
df['Country']=l

In [14]:
df

       Life expectancy   Country
0               65.662     Aruba
1               66.074     Aruba
2               66.444     Aruba
3               66.787     Aruba
4               67.113     Aruba
...                ...       ...
16221           60.294  Zimbabwe
16222           60.812  Zimbabwe
16223           61.195  Zimbabwe
16224           61.490  Zimbabwe
16225           61.738  Zimbabwe

[16226 rows x 2 columns]

In [15]:
year=list(life.columns)[1:]*266

In [16]:
df['Year']=year

In [17]:
df

       Life expectancy   Country  Year
0               65.662     Aruba  1960
1               66.074     Aruba  1961
2               66.444     Aruba  1962
3               66.787     Aruba  1963
4               67.113     Aruba  1964
...                ...       ...   ...
16221           60.294  Zimbabwe  2016
16222           60.812  Zimbabwe  2017
16223           61.195  Zimbabwe  2018
16224           61.490  Zimbabwe  2019
16225           61.738  Zimbabwe  2020

[16226 rows x 3 columns]

In [24]:
infant=pd.read_csv('/content/drive/MyDrive/STDS_AT2/Life_Expectancy_Datasets/InfantMortality.csv')

In [25]:
infant=infant[['Country Name',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020']]

In [26]:
values=[]
for country in infant['Country Name']:
    values.extend(list(infant[infant['Country Name']==country].iloc[0])[1:])
df['infantMortality']=values

In [ ]:
population=pd.read_csv('/Users/savinaysingh/Downloads/Life Expectancy/Population.csv')

In [ ]:
population=population[['Country Name',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020']]

In [ ]:
values=[]
for country in population['Country Name']:
    values.extend(list(population[population['Country Name']==country].iloc[0])[1:])

df['Population']=values

In [ ]:
gdp=pd.read_csv('/Users/savinaysingh/Downloads/Life Expectancy/GDP per capita.csv')
gdp=gdp[['Country Name',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020']]

In [ ]:
values=[]
for country in infant['Country Name']:
    values.extend(list(infant[infant['Country Name']==country].iloc[0])[1:])

df['GDP']=values

In [5]:
import pandas as pd
cause=pd.read_csv('/content/drive/MyDrive/STDS_AT2/Life_Expectancy_Datasets/CauseOfDeath.csv')

In [6]:
cause.head()

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Neoplasms - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),...,Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number),Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,2007,15,2933.0,15925.0,481.0,393.0,2127.0,3657.0,...,2439.0,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0
1,Afghanistan,AFG,2008,17,2731.0,16148.0,462.0,255.0,1973.0,3785.0,...,2231.0,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0
2,Afghanistan,AFG,2009,0,2460.0,16383.0,448.0,239.0,1852.0,3874.0,...,1998.0,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0
3,Afghanistan,AFG,2011,2,2327.0,17094.0,448.0,390.0,1775.0,4170.0,...,1805.0,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0
4,Afghanistan,AFG,2012,14,2254.0,17522.0,445.0,94.0,1716.0,4245.0,...,1667.0,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0

In [18]:
df['PrimaryKey']= df['Country'].astype(str) +""+ df["Year"]

In [27]:
df.head()

   Life expectancy Country  Year PrimaryKey  infantMortality
0           65.662   Aruba  1960  Aruba1960              NaN
1           66.074   Aruba  1961  Aruba1961              NaN
2           66.444   Aruba  1962  Aruba1962              NaN
3           66.787   Aruba  1963  Aruba1963              NaN
4           67.113   Aruba  1964  Aruba1964              NaN

In [20]:
cause['PrimaryKey']= cause['Entity'].astype(str) +""+ cause["Year"].astype(str)

In [21]:
cause.head()

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Neoplasms - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),...,Terrorism (deaths),Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number),Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),PrimaryKey
0,Afghanistan,AFG,2007,15,2933.0,15925.0,481.0,393.0,2127.0,3657.0,...,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0,Afghanistan2007
1,Afghanistan,AFG,2008,17,2731.0,16148.0,462.0,255.0,1973.0,3785.0,...,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0,Afghanistan2008
2,Afghanistan,AFG,2009,0,2460.0,16383.0,448.0,239.0,1852.0,3874.0,...,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0,Afghanistan2009
3,Afghanistan,AFG,2011,2,2327.0,17094.0,448.0,390.0,1775.0,4170.0,...,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0,Afghanistan2011
4,Afghanistan,AFG,2012,14,2254.0,17522.0,445.0,94.0,1716.0,4245.0,...,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0,Afghanistan2012

In [ ]:
cause['PrimaryKey'].nunique()

8254

In [ ]:
data=pd.merge(df,cause,on='PrimaryKey',how='right')

In [ ]:
data=data.drop('PrimaryKey',axis=1)

In [ ]:
data=data.drop(['Year_y','Entity','Code'],axis=1)

In [ ]:
data.columns=['Life expectancy', 'Country', 'Year', 'infantMortality', 'Population',
       'GDP', 'Number of executions (Amnesty International)',
       'Deaths - Meningitis - Sex: Both - Age: All Ages (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)',
       'Deaths - Malaria - Sex: Both - Age: All Ages (Number)',
       'Deaths - Drowning - Sex: Both - Age: All Ages (Number)',
       'Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)',
       'Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)',
       'Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)',
       'Deaths - Road injuries - Sex: Both - Age: All Ages (Number)',
       'Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)',
       'Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)',
       'Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)',
       'Deaths - Self-harm - Sex: Both - Age: All Ages (Number)',
       'Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)',
       'Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)',
       'Deaths - Poisonings - Sex: Both - Age: All Ages (Number)',
       'Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)',
       'Terrorism (deaths)',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)',
       'Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)',
       "Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)",
       "Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)"]

In [ ]:
data.to_csv('/Users/savinaysingh/Downloads/Life Expectancy/LifeExpectancyDataset.csv')

In [ ]:
data2=data.dropna(axis=0,subset='Life expectancy')

In [ ]:
data2['Life expectancy'].unique()

array([59.375, 59.93 , 60.484, ..., 60.812, 61.195, 61.49 ])

In [ ]:
data2.to_csv('/Users/savinaysingh/Downloads/Life Expectancy/LifeExpectancyDataset2.csv')